.App {
  text-align: center;
  min-width: 400px;
}


.App-header {
  background-color: #000;
  height: 15%;
  width: 20%;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  color: white;
  background-image: url('./images/Hitman.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
