@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0c1318;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100vh;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Player {
  background: #182530;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px -5px #121212;
  height: 600px;
  position: relative;
  /*width: 375px;*/
  top: 100px;
  bottom: 0px;
  /*padding: 25px;*/
  padding-top: 28px;
}
.Player .Background {
  position: absolute;
  top: 0;
  left: -25%;
  background-size: cover;
  background-position: center center;
  opacity: .2;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.Player .Title {
  width: 300px;
  margin: 50px auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1em;
  position: relative;
}
.Player .Artwork {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0 5px 10px -5px rgba(18, 18, 18, 0.25);
  position: relative;
}
.Player .TrackInformation {
  width: 300px;
  margin: 30px auto;
  text-align: center;
  position: relative;
  bottom: 3vh;
}
.Player .TrackInformation .Name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.Player .TrackInformation .Artist {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}
.Player .TrackInformation .Album {
  font-size: 12px;
  opacity: .5;
}
.Player .Scrubber {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  opacity: .2;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Player .Scrubber:active {
  opacity: 1;
}
.Player .Scrubber .Scrubber-Progress {
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 71, 0, 0)), color-stop(100%, #ff4700));
  background: -webkit-linear-gradient(top, rgba(255, 71, 0, 0) 0%, #ff4700 100%);
  background: linear-gradient(to bottom, rgba(255, 71, 0, 0) 0%, #ff4700 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4800', endColorstr='#ff4800', GradientType=0 );
  height: 100%;
  width: 0%;
  -webkit-transition: width .25s ease;
  transition: width .25s ease;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Player .Timestamps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  width: 100%;
}
.Player .Timestamps .Time {
  font-size: 12px;
}

.Player .Controls > div {
  position: absolute;
  pointer-events: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  bottom: 200px;
}

.Player .Controls .Buttons{
  position: absolute;
  pointer-events: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
  bottom: 130px;
}

.Player .Controls .Button {
  height: 55px;
  width: 55px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 75px;
  box-shadow: 0 5px 10px 0px rgba(18, 18, 18, 0.125);
  margin: auto;
  pointer-events: all;
}
.Player .Controls .Button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  background: #FFFFFF;
}
.Player .Controls .Button:active .fa {
  color: #FF4700;
  opacity: 1;
}
.Player .Controls .Button .fa {
  color: #FFFFFF;
  opacity: .5;
  font-size: 24px;
}
.Player .Controls .Button .fa.fa-play {
  margin-left: 5px;
}


.top-buttons {
  display:-webkit-flex;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-start;
  position: relative;
  top: 10vh;
  left: -20px
}

.about-me-button {
  border-radius: 4px;
  color: white;
  flex: 1 1 100%;
  cursor: pointer;
}

.download-album {
  border-radius: 4px;
  color: white;
  flex: 1 1 100%;
  cursor: pointer;
}

.download-album a {
  text-decoration: none;
  color: white;
}

.close-modal {
  width: 10px;
  height: 10px;
  background: black;
  color:white;
  border: 5px solid black;
  text-align: center;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
}

.about-me-page {
  color: black;
  background: rgb(243, 255, 254)
}

.social-links {
  text-align: center;
}

.twitter-sign {
  font-size: 2em;
  position: relative;
  right: 15px;
  color: black;
}

.facebook-sign {
  font-size: 2em;
  position: relative;
  left: 15px;
  color: black;
}

.soundcloud-sign {
  font-size: 2em;
  position: relative;
  left: 35px;
  color: black;
}

.songfInfo {
  color: white;
  position: relative;
  bottom: 25px;
}

.Length {
  color: white;
  margin-top: 5px;
}

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 320px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #ddd;
    border: none;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(42, 69, 98);
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 320px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(42, 69, 98);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

.musicSlider {
  margin-top: 5vh;
}

.timeAndTimeLeft {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}
